@charset "utf-8";

@use "../../global/forwards" as fw;

.toranoko {
    .common__index {
        i {
            margin-right: 1px;
            width: 15px;
            text-align: center;
            font-size: 0.675rem;
        }

        .fa-minus {
            position: absolute;
            right: 10px;
            top: 5px;
        }

        &::before {
            top: 20px;
        }
    }

    &__index {
        padding: 25px 15px 5px;
    }

    &__title {
        color: #FFF;
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;

        &--crs {
            display: block;
            font-size: 1.25rem;
        }
        &--no {
            font-size: 1.4rem;
            padding: 0 3px;
        }
    }

    &__about {
        text-align: right;

        p {
            font-size: 0.8rem;
            margin: 5px;
        }
    }

    &__contents-wrap {
        padding: 20px;
    }

    &__KK-wrap {
        position: relative;
        padding-top: 30px;
    }

    &__KK-title {
        text-align: center;
        margin: 0 0 3px;
    }

    &__KK-text {
        position: absolute;
        width: 30%;
        top: 0;
    }

    &__KK-caption {
        text-align: right;
        font-size: 0.8rem;
    }
}
