@charset "utf-8";

@use "../global/forwards" as fw;

.l-footer {
    background-color: fw.$base_color;
    height: 100px;

    &__logo-area {
        text-align: center;
        font-size: 20px;
        padding-top: 10px;

        @include fw.mq(sp) {
            font-size: 1rem;
        }

        a {
            color: #FFF;
        }
    }
}