@charset "utf-8";

@use "../global/forwards" as fw;

.sidebar {
    width: 300px;
    background-color: fw.$sub_color;
    position: absolute;
    top: 100px;
    left: 100px;
    padding-bottom: 20px;

    &::before {
        content: "";
        width: 100%;
        height: 20px;
        background-color: fw.$base_color;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include fw.mq(tablet) {
        width: 260px;
        left: 30px;
    }

    @include fw.mq(sp) {
        width: 320px;
        top: 100px;
        left: calc(50% - 320px/2);
        padding-bottom: 10px;
    }

    &__title {
        color: #FFF;
        margin: 40px 20px;
        text-align: center;
        font-size: 45px;

        @include fw.mq(tablet) {
            font-size: 38px;
        }

        @include fw.mq(sp) {
            font-size: 2.2rem;
            margin: 40px 0 10px;
        }

        span {
            font-size: 30px;

            @include fw.mq(sp) {
                font-size: 2rem;
            }
        }
        
    }
    
    &__text {
        color:#FFF;
        padding: 30px;

        @include fw.mq(sp) {
            padding: 20px;
            font-size: 0.9rem;
          }

          @include fw.mq(sp) {
            padding: 30px 20px;
          }
    }

    &__category {
        @include fw.mq(sp) {
            display: none;
          }
    }

    &__category-title {
        color:#FFF;
        background-color: fw.$base_color;
        padding: 15px;
    }

    &__category-group {
        margin: 15px;

        li {
            position: relative;
            padding: 8px 8px 8px 30px;
            border-bottom: 1px solid rgba(255,255,255,.6);

            &::before {
                content: "\025A0";
                padding-right: 8px;
                color: fw.$base_color;
                position: absolute;
                left: 5px;
            }

            &:nth-child(even)::before{
                transform: rotate(45deg);
                display: inline-block;
                padding-right: 0;
                font-size: 15px;
                left: 6px;
            }

            a {
                color: #FFF;
            }
        }
    }

    &__forpresales-url {
        padding: 8px 8px 8px 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        margin-top: 60px;

        @include fw.mq(sp) {
            display: none;
          }

        a {
            display: block;
            color: #FFF;
        }
    }
}